<ion-header>
  <div class ='header-grid'>
    <div class = 'tile'>
    Art Gallery
    </div>
    <div class = 'header-item'>
      <ion-icon name="search-outline"></ion-icon>
    </div>
    <div class = 'header-item'>
      <ion-icon name="add-outline" (click)="addPhotoToGallery()"></ion-icon>
    </div>
    <div class = 'header-item'>
      <ion-icon name="ellipsis-vertical-outline"></ion-icon>
    </div>
  </div>
  <div class ='album-grid'>
    <div class = 'tile'>
    photo
    </div>
    <div class = 'tile'>
    Online
    </div>
    <div class = 'tile'>
    Albums
    </div>
  </div>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let photo of photoService.photos; index as position">
        <ion-img [src]="photo.webviewPath" (click)="showImage(photo,position)"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
