.header-grid{
  background-color: white;
  display:grid;
  grid-template-columns: 70% 10% 10% 10%;
  padding: 10px;
  width: 100%;
  *{
    font-size: 1.25rem;
    color: black;
  }
  .header-item{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.album-grid{
  background-color: white;
  display:grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  width: 100%;
  *{
    font-size: 1rem;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
ion-content{
  --ion-background-color:white;
}